.stats-container {
  @include mobile {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
}
.user-profile {
  @include mobile {
    width: 100%;
  }
}
.table-container {
  min-width: 60vw;
  @include mobile {
    width: 90vw;
  }
}
