@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/mixins";
@import "styles/game-screen";
@import "styles/stats-screen";

@font-face {
  font-family: "Baemin"; // Provide a name for your font
  src: url("/fonts/bmdaniel.ttf") format("woff"); // Specify the path to your font file and its format
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Baemin";
  --btnPrimary: #eabd68;
  --btnNewGame: #37d428;
  --btnOpenBowl: #f59e0b;
  --btnRollDice: #d50505;
  --btnAllIn: #0945f9;
  --dice: #e3e3e3;
  @include large-desktop {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
  }
}
#root {
  user-select: none;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.custom-button {
  background-image: url("/images/button.png");
}
body {
  overflow: hidden;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.abs-centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.abs-centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.shake {
  animation: shake 0.6s forwards !important;
}
.open {
  animation: open 0.5s forwards;
}
.close {
  animation: close 0.5s forwards;
}
@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
    -webkit-transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -6px) rotate(-1deg);
    -webkit-transform: translate(-3px, -6px) rotate(-1deg);
  }
  20% {
    transform: translate(-9px, 0px) rotate(1deg);
    -webkit-transform: translate(-9px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(9px, 6px) rotate(0deg);
    -webkit-transform: translate(9px, 6px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(1deg);
    -webkit-transform: translate(3px, -3px) rotate(1deg);
  }
  50% {
    transform: translate(-3px, 6px) rotate(-1deg);
    -webkit-transform: translate(-3px, 6px) rotate(-1deg);
  }
  60% {
    transform: translate(-9px, 9px) rotate(0deg);
    -webkit-transform: translate(-9px, 9px) rotate(0deg);
  }
  70% {
    transform: translate(9px, 3px) rotate(-1deg);
    -webkit-transform: translate(9px, 3px) rotate(-1deg);
  }
  80% {
    transform: translate(-3px, -3px) rotate(1deg);
    -webkit-transform: translate(-3px, -3px) rotate(1deg);
  }
  90% {
    transform: translate(3px, 6px) rotate(0deg);
    -webkit-transform: translate(3px, 6px) rotate(0deg);
  }
  100% {
    transform: translate(3px, 3px) rotate(0deg);
    -webkit-transform: translate(3px, 3px) rotate(0deg);
  }
}
@keyframes open {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(100%, 0) rotate(-1deg);
    -webkit-transform: translate(100%, 0) rotate(-1deg);
  }
}
@keyframes close {
  0% {
    transform: translate(100%, 0) rotate(-1deg);
    -webkit-transform: translate(100%, 0) rotate(-1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
    -webkit-transform: translate(1px, 1px) rotate(0deg);
  }
}
// 3D Button
.dice-3d {
  text-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.5);
  // display: inline-block;
  outline: none;
  cursor: pointer;
  border: 2px solid;
  color: #737373;
  border-color: color(var(--dice) shade(20%)) color(var(--dice) shade(30%))
    color(var(--dice) shade(40%));
  background-color: var(--dice);
  background-image: linear-gradient(var(--dice), color(var(--dice) shade(10%)));
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4),
    0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset,
    0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;

  &:active {
    padding: 0.4em 1em 0.4em;
    margin-top: 0.1em;
    border-color: color(var(--dice) shade(30%)) color(var(--dice) shade(20%))
      var(--dice);
    background-image: linear-gradient(
      color(var(--dice) shade(5%)),
      var(--dice)
    );
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset,
      0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset,
      0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset,
      -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    transition-duration: 10ms;
  }
}
.button-3d {
  text-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 2px solid;
  color: #2e1500;
  border-color: color(var(--btnPrimary) shade(20%))
    color(var(--btnPrimary) shade(30%)) color(var(--btnPrimary) shade(40%));
  background-color: var(--btnPrimary);
  background-image: linear-gradient(
    var(--btnPrimary),
    color(var(--btnPrimary) shade(10%))
  );
  &#newGame {
    color: #072a03;
    border-color: color(var(--btnNewGame) shade(20%))
      color(var(--btnNewGame) shade(30%)) color(var(--btnNewGame) shade(40%));
    background-color: var(--btnNewGame);
    background-image: linear-gradient(
      var(--btnNewGame),
      color(var(--btnNewGame) shade(10%))
    );
  }
  &#openBowl {
    color: #2e1500;
    border-color: color(var(--btnOpenBowl) shade(20%))
      color(var(--btnOpenBowl) shade(30%)) color(var(--btnOpenBowl) shade(40%));
    background-color: var(--btnOpenBowl);
    background-image: linear-gradient(
      var(--btnOpenBowl),
      color(var(--btnOpenBowl) shade(10%))
    );
  }
  &#rollDice {
    color: #ffffff;
    border-color: color(var(--btnRollDice) shade(20%))
      color(var(--btnRollDice) shade(30%)) color(var(--btnRollDice) shade(40%));
    background-color: var(--btnRollDice);
    background-image: linear-gradient(
      var(--btnRollDice),
      color(var(--btnRollDice) shade(10%))
    );
  }
  &#tagname {
    display: flex;
    align-items: center;
    color: #ffffff;
    border-color: color(var(--btnRollDice) shade(20%))
      color(var(--btnRollDice) shade(30%)) color(var(--btnRollDice) shade(40%));
    background-color: var(--btnRollDice);
    background-image: linear-gradient(
      var(--btnRollDice),
      color(var(--btnRollDice) shade(10%))
    );
  }
  &#allIn {
    color: #ffffff;
    border-color: color(var(--btnAllIn) shade(20%))
      color(var(--btnAllIn) shade(30%)) color(var(--btnAllIn) shade(40%));
    background-color: var(--btnAllIn);
    background-image: linear-gradient(
      var(--btnAllIn),
      color(var(--btnAllIn) shade(10%))
    );
  }
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3),
    0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset,
    0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  transition: all 100ms;
}

.button-3d:hover,
.button-3d:focus {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4),
    0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset,
    0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}

.button-3d:active {
  padding: 0.4em 1em 0.4em;
  margin-top: 0.1em;
  border-color: color(var(--btnPrimary) shade(30%))
    color(var(--btnPrimary) shade(20%)) var(--btnPrimary);
  background-image: linear-gradient(
    color(var(--btnPrimary) shade(5%)),
    var(--btnPrimary)
  );
  @include mobile {
    padding: 5px;
  }
  &#newGame {
    border-color: color(var(--btnNewGame) shade(30%))
      color(var(--btnNewGame) shade(20%)) var(--btnNewGame);
    background-image: linear-gradient(
      color(var(--btnNewGame) shade(5%)),
      var(--btnNewGame)
    );
  }
  &#openBowl {
    border-color: color(var(--btnOpenBowl) shade(30%))
      color(var(--btnOpenBowl) shade(20%)) var(--btnOpenBowl);
    background-image: linear-gradient(
      color(var(--btnOpenBowl) shade(5%)),
      var(--btnOpenBowl)
    );
  }
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset,
    0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset,
    0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset,
    -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  transition-duration: 10ms;
}
.loss {
  animation: darkenEffect 0.5s ease forwards;
}
.blinking {
  position: relative;
  background: #4cff20;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, transparent, #b1ff9d90, transparent);
    animation: lightTrail 2s infinite;
  }
}
@keyframes lightTrail {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes darkenEffect {
  0% {
    --tw-bg-opacity: 1;
    background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  }
  100% {
    background-color: #ff0000;
    filter: brightness(0.5);
  }
}
.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  width: 200px;
}
.rotate {
  animation: rotate 2.5s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.slide-in-left {
  animation: slide-in-left 1s ease-in forwards;
}
.slide-in-right {
  animation: slide-in-right 1s ease-in forwards;
}
.slide-in-up {
  animation: slide-in-up 1s ease-in forwards;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.music-player,
.user-profile,
.ranking-row {
  text-shadow: 0 0.08em 0 rgba(54, 54, 54, 0.5);
  width: 300px;
  outline: none;
  border-radius: 0.5rem;
  background: linear-gradient(
    45deg,
    rgb(99, 0, 0) 5.8%,
    rgb(178, 14, 14) 112.6%
  );
  filter: drop-shadow(0px 5px 0px #2b0000);
}
.highlight-row {
  text-shadow: 0 0.08em 0 rgba(54, 54, 54, 0.5);
  width: 300px;
  outline: none;
  border-radius: 0.5rem;
  background: linear-gradient(
    45deg,
    rgb(119, 16, 0) 5.8%,
    rgb(255, 21, 0) 112.6%
  );
  color: #fbff00;
  filter: drop-shadow(0px 5px 0px #2b0000);
}
.music-player {
}
.petal {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;

  &.rotate {
    animation: driftyRotate 1.5s infinite both ease-in-out;
    perspective: 1000;
  }

  &.askew {
    background: currentColor;
    transform: skewY(10deg);
    display: block;
    width: 2rem;
    height: 2rem;
    animation: drifty 1s infinite alternate both ease-in-out;
    perspective: 1000;
  }

  color: rgba(0, 0, 0, 0);

  &:nth-of-type(7n) .askew {
    animation-delay: -0.6s;
    animation-duration: 2.25s;
  }

  &:nth-of-type(7n + 1) .askew {
    animation-delay: -0.879s;
    animation-duration: 3.5s;
  }

  &:nth-of-type(7n + 2) .askew {
    animation-delay: -0.11s;
    animation-duration: 1.95s;
  }

  &:nth-of-type(7n + 3) .askew {
    animation-delay: -0.246s;
    animation-duration: 0.85s;
  }

  &:nth-of-type(7n + 4) .askew {
    animation-delay: -0.43s;
    animation-duration: 2.5s;
  }

  &:nth-of-type(7n + 5) .askew {
    animation-delay: -0.56s;
    animation-duration: 1.75s;
  }

  &:nth-of-type(7n + 6) .askew {
    animation-delay: -0.76s;
    animation-duration: 1.5s;
  }

  &:nth-of-type(9n) .rotate {
    animation-duration: 2s;
  }

  &:nth-of-type(9n + 1) .rotate {
    animation-duration: 2.3s;
  }

  &:nth-of-type(9n + 2) .rotate {
    animation-duration: 1.1s;
  }

  &:nth-of-type(9n + 3) .rotate {
    animation-duration: 0.75s;
  }

  &:nth-of-type(9n + 4) .rotate {
    animation-duration: 4.3s;
  }

  &:nth-of-type(9n + 5) .rotate {
    animation-duration: 3.05s;
  }

  &:nth-of-type(9n + 6) .rotate {
    animation-duration: 2.76s;
  }

  &:nth-of-type(9n + 7) .rotate {
    animation-duration: 7.6s;
  }

  &:nth-of-type(9n + 8) .rotate {
    animation-duration: 1.78s;
  }
}

@keyframes drifty {
  0% {
    transform: skewY(10deg) translate3d(-250%, 0, 0);
    display: block;
  }

  100% {
    transform: skewY(-12deg) translate3d(250%, 0, 0);
    display: block;
  }
}

@keyframes driftyRotate {
  0% {
    transform: rotateX(0);
    display: block;
  }

  100% {
    transform: rotateX(359deg);
    display: block;
  }
}
.mascot {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid red; /* Adjust the border color and width as needed */
    pointer-events: none; /* Ensure the borders do not interfere with interactions */
  }

  &::before {
    transform: translate(-4px, -4px);
  }

  &::after {
    transform: translate(4px, 4px);
  }
}
.auth-container {
  @include mobile {
    width: 100vw;
    margin: 1rem;
    margin-right: 1rem;
  }
}
